body {
    font-family: 'Open Sans', sans-serif;
    color: $blue;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
main {
    margin: 2% auto;
    max-width: 100%;
}

/* 3 articles sectioned */
.tshirts {
    position: relative;
    width: 48%;
    margin: 0.5%;
    display: inline-block;
}
img {
    width: 100%;
    vertical-align: middle;
}
.view {
    @include borderMain();
    padding: 5%;
}

/* selections aligned */
.selections {
    float: left;
    width: 100%;
    margin: -2px 0 0 0;
}
.selections > li {
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
    box-sizing: border-box;
    font-size: $selFontSize * 1.5;
    padding: 5% 0;
    @include borderMain();
}
/* hover over selections */
.selections > li:hover {
    position: relative;
    background-color: $blue;
    color: $white;
    @include boxShadow();
}

/* set size tab */
.size-tab{
    position: relative;
}
.sizes {
    position: absolute;
    width: 80%;
    margin: 10%;
    @include borderMain();
    background-color: $white;
    bottom: 50%;
    left: 0;
    display: none;
}
.sizes li {
    color: $blue;
    text-align: center;
}
.size-tab:hover ul {
    display: block;
    @include boxShadow();
    z-index: 1;
}
.sizes li:hover {
    background-color: $blue;
    color: $white;
    z-index: 2;
}

/* Set colors tab */
.color-tab {
    position: relative;
    background-color: $white;
}
.colors {
    position: absolute;
    @include borderMain();
    background-color: $white;
    width: 90%;
    height: 100%;
    bottom: 50%;
    left: 2%;
    display: none;
}
.colors li {
    height: 50%;
    width: 50%;
    position: absolute;
}
.blue {
    background-color: $blue;
    top: 0;
    left: 0;
}
.green {
    background-color: $green;
    top: 0;
    right: 0;
}
.pink {
    background-color: $pink;
    bottom: 0;
    left: 0;
}
.yellow {
    background-color: $yellow;
    bottom: 0;
    right: 0;
}
.color-tab:hover ul {

    display: block;
    z-index: 1;
}
.colors li:hover {
    @include borderMain(2px, $white);
    width: 70%;
    height: 70%;
    display: block;
    z-index: 2;
}

/* align caption at the bottom */
.caption li {
    font-size: $captionSize * 2;
    text-align: center;
}
.price {
    font-weight: bold;
    text-align: center;
}
