.color-tab {
    position: relative;
    background-color: $backColorSz;

    &:hover ul {
        display: block;
        z-index: 1;
    }
    .colors {
        position: absolute;
        @include borderMain();
        @include rectangle(100%, 130%);
        bottom: 50%;
        right: 10%;
        display: none;
    }
}


.colors {
    li {
        @include square(50%);
        position: absolute;

        &:hover {
            @include borderMain(2px, #fff);
            @include square(55%);
            display: block;
            z-index: 2;
        }
    }
    .blue {
        background-color: $color1;
        top: 0;
        left: 0;
    }
    .pink {
        background-color: $color2;
        bottom: 0;
        left: 0;
    }
    .yellow {
        background-color: $color3;
        bottom: 0;
        right: 0;
    }
    .green {
        background-color: $color4;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
    .colors {
        left: 10%;

        li {
            @include square(50%);

            &:hover {
                @include square(60%);
            }
        }
    }
}

@media screen and (min-width: 801px) {
    .color-tab .colors {
        @include rectangle(150%, 160%);
        right: -30%;

        li:hover {
            @include square(65%);
        }
    }
}
