@media screen and (min-width: 801px) {
    main {
        margin: 10 auto;
        max-width: 800px;
    }
    .tshirts {
        width: 180px;
        margin: 10px 10px 25px 10px;
    }
    .view {
        padding: 10px;
    }
    .selections {
        width: 180px;
        margin: -2px 0 5px 0;
    }
    .selections > li {
        width: 36px;
        height: 35px;
        padding: 5px;
    }
    .caption li, .selections > li, .rotate i {
        font-size: 1em;
    }
    .name {
        float: left;
    }
    .price {
        float: right;
    }
    .sizes {
        bottom: 30px;
        left: -11px;
    }
    .colors {
        bottom: 30px;
        left: -17px;
    }
    /*rotate button styling*/
    .rotate {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        background-color: $white;
        @include borderMain();
    }
}
