@media screen and (min-width: 481px) and (max-width: 800px) {
    main {
        margin: 8px auto;
        max-width: 100%;
    }
    .tshirts {
        width: 29%;
        margin: 2%;

        .selections > li {
            width: 33.3%;
            height: 33.3%;
            padding: 2.5%;
            font-size: $selFontSize * 1.5;
        }
        .caption > li {
            font-size: $captionSize * 2.25;
        }
    }


    /* set size tab */
    .size-tab{
        position: relative;
    }
    .sizes {
        position: absolute;
        width: 80%;
        margin: 10%;
        @include borderMain();
        background-color: $backColorSz;
        bottom: 50%;
        display: none;
    }
    .sizes li {
        color: $selectFontColor;
        text-align: center;
    }
    .size-tab:hover ul {
        display: block;
        @include boxShadow();
        z-index: 1;
    }
    .sizes li:hover {
        background-color: #81bce6;
        color: $hoverFontClr;
        z-index: 2;
    }
    /* Set colors tab */
    .color-tab {
        position: relative;
        background-color: $backColorSz;
    }
    .colors {
        position: absolute;
        @include borderMain();
        background-color: $backColorSz;
        width: 150%;
        height: 150%;
        bottom: 50%;
        left: 50%;
        display: none;
    }
    .colors li {
        height: 50%;
        width: 50%;
        position: absolute;
    }
    .colors li:hover {
        @include borderMain(2px, #fff);
        width: 60%;
        height: 60%;
        display: block;
        z-index: 2;
    }
}
