$color1: #81bce6; //blue
$color2: #d482aa; //pink
$color3: #d8ad7a; //yellow
$color4: #94be9a; //green

$borderColor: #81bce6;
$selectFontColor: #81bce6;

$hoverBackClr: #81bce6;
$hoverFontClr: #fff;

$boxShadowColor: #4b6991;

$backColorSz: #fff;

$captionSize: 0.75em;
$selFontSize: 1.5em;

$numArtColSm: 2;
$numArtColMd: 3;
$numArtColLa: 4;

$artMarSm: 0.5%;
$artMarMd: 2%;
$artMarLa: 1%;
