$color1: #81bce6;
$color2: #d482aa;
$color3: #d8ad7a;
$color4: #94be9a;
$borderColor: #81bce6;
$selectFontColor: #81bce6;
$hoverBackClr: #81bce6;
$hoverFontClr: #fff;
$boxShadowColor: #4b6991;
$backColorSz: #fff;
$captionSize: 0.5em;
$selFontSize: 1em;

$
