/*Reset Styles*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

body {
    font-family: 'Open Sans', sans-serif;
    color: #81bce6;
}

/***colors
Yellow:#d8ad7a
Blue:#81bce6
Pink:#d482aa
Green:#94be9a
***/

/*General Styling*/
ul {
    padding: 0;
}
li {
    list-style: none;
}

/* !!!!Make page centered!!!! */


/* 3 articles sectioned and floating */
.tshirts {
    position: relative;
    float: left;
    margin: 2em;
    width: 30%;
    max-width: 20em;
}
img {
    width: 100%;
    top: 0;
    left: 0;
}
.view {
    border: 2px solid #81bce6;
    position: relative;
}

/* make selections centered and aligned */
nav {
    display: inline-block;
}
.selections ul {
    margin: 0 auto;
    max-width: 20em;
}
.selections li {
    float: left;
    text-align: center;
    padding: 0.25em;
    border: 2px solid #81bce6;
}

/* set size tab */
.sizes li {
    float: none;
    text-align: center;
}

/* Set colors tab */
.colors {
    width: 60px;
    height: 60px;
    border: 2px solid #81bce6;
    background-color: white;
}
.colors li {
    margin: 5px;
    border: none;
    height: 15px;
    width: 15px;
}
.blue {
    background-color: #81bce6;
}
.green {
    background-color: #94be9a;
}
.pink {
    background-color: #d482aa;
}
.yellow{
    background-color: #d8ad7a;
}

/* align caption at the bottom */
.caption {
    display: block;
    margin: 0;
    max-width: 20em;
}
.caption li {
}
.name {
    float: left;
}
.price {
    float: right;
    font-weight: bold;
}

/*** .front is hidden and .back shows
when rotate button/font is clicked ***/
/** :click :hide :active **/
.front {
    position: absolute;
    z-index: 1;
}
.back {
    z-index: 2;
}
.rotate:hover .back {
    position: absolute;
    z-index: 3;
}

.rotate {
    position: absolute;
    top: 0;
    right: 0;
}
