/*Reset Styles*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

body {
    font-family: 'Open Sans', sans-serif;
    color: #81bce6;
}

/***colors
Yellow:#d8ad7a
Blue:#81bce6
Pink:#d482aa
Green:#94be9a
***/

/*General Styling*/
ul {
    padding: 0;
}
li {
    list-style: none;
}

main {

}
/* 3 articles sectioned and floating */
.tshirts {
    float: left;
    padding: 1em;
    margin: 1em;
    width: 30%;
    max-width: 15em;
    border: 2px solid #81bce6;
}
img {
    width: 100%;
}

/* make selections centered */


/* align text at the bottom*/


/*** .front is hidden and .back shows
when rotate button/font is clicked ***/
/** :click :hide :active **/
