/*Reset Styles*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

body {
    font-family: 'Open Sans', sans-serif;
    color: #8ec8fe;
}

li {
    list-style: none;
}

.view, .caption, .choices {
    padding: 0;
}

/*** shirt choices sectioned into three parts ***/
.tshirts > li {
    float: left;
    width: 30%;
    min-width: 15em;
    margin: 1em;
}
/* lets image fit in the box */
img {
    width: 100%;
}
.view {
    border: 2px solid #8ec8fe;
    padding: 1em;
}


/* choices have borders
!!! need to fit in parent width of t-shirts!!! */
.choices > li {
    border: 2px solid #8ec8fe;
    box-sizing: content-box;
    float: left;
}


/** Caption portion is aligned and centered **/
.name {
    vertical-align: middle;
    float: left;
    padding-top: 0.5em;
}
.price {
    font-weight: bold;
    float: right;
    vertical-align: middle;
    padding-top: 0.5em;
}


/* other styling */
.caption p {
    margin: 0;
}

/*** .front is hidden and .back shows
when rotate button/font is clicked ***/
/** :click :hide :active **/
